// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-family--primary    : sans-serif;
$font-family--secondary  : sans-serif;


// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// Text
$base__hero-font-size 	: 70px;
$base__font-size 		: 14px;
$buttons__font-size 	: 16px;
$base__line      		: 20px;
$letter-space    		: 1px;

// Border radius

$br--default    : .4em;
$br--round      : 1%;

// Breakpoints


// Descriptive Base Colors

$bodyPrim: #887872;

$brandWhite: #ffffff;
$brandBlack: #000000;
$brandBlue: #21b7ef;
$brandBlue2: #1ab5ee;
$brandBlue3: #009ee3;
$brandBlue4: #33b1e9;
$brandBlue5: #227BB9;
$brandOrange: #FCBF0F;
$brandGreen: #50ce7a;
$brandGreen2: #24c259;
$brandRed: #D1230E;
$brandPurple: #836791;
$brandPurple-Light: #8E729C;
$brandGrey-Dark: #636f76;
$brandGrey-Light: #f2f2f2;
$brandGrey-nav-line: #b2b2b2;
$brandBrown-Dark: #686868;
$brandGrey1: #37464f;
$brandGrey2: #69747b;
$brandGrey3: #E8E8E8;
$brandGrey4: #424242;
$brandGrey5: #f7f7f7;