// 0. CONFIG [ 0.1. VARIABLES ]  ######################################################################################

// A. FONTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// A.1. FONT SETUP ----------------------------------------------------------------------------------------------------

$font-family--primary    : sans-serif;
$font-family--secondary  : sans-serif;

$roboto: 	'Roboto', Helvetica, Arial, sans-serif;

$base-font:			$roboto; // Change your default font type.
$base-size: 		16px; 		// Choose your base font size. I like 16px and Relative Readability.
$baseline: 			20px; 		// Choose your Line Height.

// A.1. END -----------------------------------------------------------------------------------------------------------

// A.2. FONT SIZES ----------------------------------------------------------------------------------------------------

$xxx-large:			4em; 		// 32px
$xx-large:			2em; 		// 32px
$x-large:			1.7em; 		// 32px
$large:				1.5em; 		// 24px
$medium:			1.125em; 	// 18px
$normal:			1em; 		// 16px
$small:				0.75em; 	// 12px
$x-small:			0.625em; 	// 10px

// A.2. END -----------------------------------------------------------------------------------------------------------

// A.3. FONT WEIGHTS --------------------------------------------------------------------------------------------------

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;

// A.2. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// B. MARGINS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$baseline-large:        $baseline*4;
$baseline-medium:       $baseline*2;
$baseline-small:        $baseline/2;
$baseline-smaller:      $baseline/4;

// B. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// C. COLOURS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

$White:         #ffffff;
$Black:         #000000;
$Blue:          #21b7ef;
$Blue2:         #1ab5ee;
$Blue3:         #009ee3;
$Blue4:         #33b1e9;
$Blue5:         #227BB9;
$Orange:        #FCBF0F;
$Green:         #50ce7a;
$Green2:        #24c259;
$Red:           #D1230E;
$Purple:        #836791;
$Purple-Light:  #8E729C;
$Grey-Dark:     #636f76;
$Grey-Light:    #f2f2f2;
$Grey-nav-line: #b2b2b2;
$Brown-Dark:    #686868;
$Grey1:         #37464f;
$Grey2:         #69747b;
$Grey3:         #E8E8E8;
$Grey4:         #424242;
$Grey5:         #f7f7f7;

// C. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################