// 1. OBJECT [ 1.7. ICONS ] ###########################################################################################

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.icon__bg-none {
    
    fill: none;
    
}

// A.1. ICONS ---------------------------------------------------------------------------------------------------------

// A.1.1. LEFT --------------------------------------------------------------------------------------------------------

.icon-left {

    display: inline-block;
    @include icon (100%, 100%, $white);
    vertical-align: middle;
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.1. RIGHT -------------------------------------------------------------------------------------------------------

.icon-right {

    @include icon (100%, 100%, $white);
    float: right; 
}

// A.1.1. END ---------------------------------------------------------------------------------------------------------

// A.1.2. THUMB -------------------------------------------------------------------------------------------------------

.icon-thumb {
    
    text-align: center;
    display: block;
    margin: 0;
    
    span {
        color: $grey50;
    }
    
    .icon {
        
        @include icon (100%, 100%, $grey50);   
        
    }
}

// A.1.2. END ---------------------------------------------------------------------------------------------------------

// A.1.3. IMAGE ICON --------------------------------------------------------------------------------------------------

.photo {
    
    margin: 0 auto;
    display: block;

    &.image {
        
        overflow: hidden;
        width: 100px;
        height: 100px;
        
        
        img {
            
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            border-radius: 100%;
            
        }
    }
}

// A.1.3. END ---------------------------------------------------------------------------------------------------------

// A.1.4. SOCIAL MEDIA ------------------------------------------------------------------------------------------------

// A.1.4.1 FACEBOOK

.fb {
    
    background: $white;
    border-radius: 100%;
    
    .icon {
        
        @include icon (40px, 40px, $grey50);
        margin-bottom: -3px;
        
    }
}

// A.1.4.1 END

// A.1.4.2 GOOGLE+

.google {
    
    background: $white;
    border-radius: 100%;
    
    .icon {
        
        @include icon (40px, 40px, $grey50);
        margin-bottom: -3px;
        
    }
}

// A.1.4.2 END
// A.1.4. END ---------------------------------------------------------------------------------------------------------

// A.1. END -----------------------------------------------------------------------------------------------------------

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################