// 2. BLOCK [ 2.2. SOCIAL MEDIA ] #####################################################################################
// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

.social-media {
    
// A.1. HEADER BLOCK --------------------------------------------------------------------------------------------------

    &.inline {
        
        .item { 
            
            list-style-type: none; 
            display: inline-block;
            margin: 0;
            padding: 0;
        
            .icon { 
                
                @include icon (50px, 50px, $grey90); 
            }
        }       
    }

// A.1. END -----------------------------------------------------------------------------------------------------------
    
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// END OF FILE ########################################################################################################